body {
	background-color: #333333;
	color: white;
}

div {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	Font-size: 32px;
	font-style: normal;
	font-variant: normal;
	margin: 50px;
	padding: 100px;
	border-radius: 50px;
}

li {
	list-style: none;
}

img {
	position: absolute;
	width: 900px;
	left: 2%;
}

.fontSize {
	font-size: 24px;
	text-align: right;
}

#floatImage {
	position: absolute;
	left: 50%;
	height: 1100px;
}