body {
	background-color: #333333;
	color: white;
}

div {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	Font-size: 32px;
	font-style: normal;
	font-variant: normal;
	margin: 50px;
	padding: 100px;
	border-radius: 50px;
}

li {
	list-style: none;
}

img {
	position: relative;
	width: 900px;
	padding: 10px 2rem 10px 0;
	margin: 50px;
}

.fontSize {
	font-size: 24px;
	text-align: right;
}

